# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/app/out
.idea
.idea/*
/app/key.properties
static
/.jpb
/app/tts.wav
/configeditor/configeditor.iml
/config/changelist.txt
/app/tts.mp3
/config/head
/config/key.properties
