# tts asr use xunfei
tts.appid=appid
tts.apisecret=apisecret
tts.apikey=apikey

asr.key=key

pwrdtts.host = host:port
pwrdtts.default-speaker = zhy

# base-url should always end in /.
openai.base-url = https://api.openai.com/
openai.key=key

data.static-dir = data/static
data.head-icon-dir = data/headicon